@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
}

:root {
  --popper-theme-background-color: #4b3885;
  --popper-theme-background-color-hover: #4b3885;
  --popper-theme-text-color: #ffffff;
  --popper-theme-border-width: 0px;
  --popper-theme-border-style: solid;
  --popper-theme-border-radius: 20px;
  --popper-theme-padding: 20px;
  --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
}

* {
  margin: 0;
}

select {
  background-image: url("../icons/arrow-down-white.svg");
}

select.sidebar {
  background-image: url("../icons/arrow-down-black.svg");
}
